{% load static %}

<div class="fullwidth-block">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="feature">
					<img src="{% static 'images/icon-research-small.png' %}" alt="" class="feature-image">
					<h2 class="feature-title">Research</h2>
					<p>Laborum et dolorum fuga harum quidem rerum facilis et expedita distinctio nam libero tempore.</p>
					<a href="" class="button">Learn more</a>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="feature">
					<img src="{% static 'images/icon-medicine-small.png' %}" alt="" class="feature-image">
					<h2 class="feature-title">Medicice</h2>
					<p>Laborum et dolorum fuga harum quidem rerum facilis et expedita distinctio nam libero tempore.</p>
					<a href="" class="button">Learn more</a>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="feature">
					<img src="{% static 'images/icon-genetics-small.png' %}" alt="" class="feature-image">
					<h2 class="feature-title">Genetics</h2>
					<p>Laborum et dolorum fuga harum quidem rerum facilis et expedita distinctio nam libero tempore.</p>
					<a href="" class="button">Learn more</a>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="feature">
					<img src="{% static 'images/icon-energy-small.png' %}" alt="" class="feature-image">
					<h2 class="feature-title">Energy</h2>
					<p>Laborum et dolorum fuga harum quidem rerum facilis et expedita distinctio nam libero tempore.</p>
					<a href="" class="button">Learn more</a>
				</div>
			</div>
		</div> <!-- .row -->
	</div> <!-- .container -->
</div> <!-- .fullwidth-block -->

