{% load static %}

<div class="fullwidth-block">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="feature">
					<img src="{% static 'images/icon-research-small.png' %}" alt="" class="feature-image">
					<h2 class="feature-title">Research</h2>
					<p>
						Estrogen regulated gene expression is the main focus of my research.
						<br/><br/>
						The aim is to understand the role of estrogen in breast cancer development and progression
					</p>
					{% comment %} <a href="" class="button">Learn more</a> {% endcomment %}
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="feature">
					<img src="{% static 'images/icon-medicine-small.png' %}" alt="" class="feature-image">
					<h2 class="feature-title">Laboratory</h2>
					<p>
						A gateway to information regarding my Research Group 
						<br/><br/>
						The Group comprises of Ph.D scholars, M.Tech and B.Tech students, JRFs and Postdocs.					
					</p>
					{% comment %} <a href="" class="button">Learn more</a> {% endcomment %}
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="feature">
					<img src="{% static 'images/icon-genetics-small.png' %}" alt="" class="feature-image">
					<h2 class="feature-title">Teaching</h2>
					<p>
						A compilation of past and present courses and syllabi. 
						<br/><br/><br/>
						Serves as an interface for communicating with students and sharing course material and handouts

					</p>
					{% comment %} <a href="" class="button">Learn more</a> {% endcomment %}
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="feature">
					<img src="{% static 'images/icon-energy-small.png' %}" alt="" class="feature-image">
					<h2 class="feature-title">About Me</h2>
					<p>
						Who am I? 
						<br/><br/><br/><br/>
						A biographical sketch
						<br/><br/><br/><br/>
					</p>
					{% comment %} <a href="" class="button">Learn more</a> {% endcomment %}
				</div>
			</div>
			{% comment %} <div class="col-md-3 col-sm-6">
				<div class="feature">
					<img src="{% static 'images/icon-genetics-small.png' %}" alt="" class="feature-image">
					<h2 class="feature-title">Hobbies</h2>
					<p>
						My interests and activities beyond science.
						<br/><br/><br/><br/><br/><br/><br/>

					</p>
					<a href="" class="button">Learn more</a>
				</div>
			</div> {% endcomment %}
		</div> <!-- .row -->
	</div> <!-- .container -->
</div> <!-- .fullwidth-block -->

