{% load static %}


<div class="fullwidth-block" data-bg-color="#edf2f4">
	<div class="container">
		<h2 class="section-title">Latest News</h2>
		<div class="row">
			<div class="col-md-4">
				<div class="post">
					<figure class="featured-image"><img src="{% static 'images/news-1.jpg' %}" alt=""></figure>
					<h2 class="entry-title"><a href="">Magni dolores rationale</a></h2>
					<small class="date">2 oct 2014</small>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
						laudantium...</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="post">
					<figure class="featured-image"><img src="{% static 'images/news-2.jpg' %}" alt=""></figure>
					<h2 class="entry-title"><a href="">Perspiciatis unde omnus</a></h2>
					<small class="date">2 oct 2014</small>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
						laudantium...</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="post">
					<figure class="featured-image"><img src="{% static 'images/news-3.jpg' %}" alt=""></figure>
					<h2 class="entry-title"><a href="">Voluptatem laundantium totam</a></h2>
					<small class="date">2 oct 2014</small>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
						laudantium...</p>
				</div>
			</div>
		</div> <!-- .row -->
	</div> <!-- .container -->
</div> <!-- .fullwidth-block -->

