{% extends "common/base.html" %}{% load static %}
{% block navbar %}
<header class="site-header" data-bg-image="">
	{% include 'common/common_nav.html' %}
</header>
<div class="page-head" data-bg-image="{% static 'images/page-head.jpg' %}">
	<div class="container">
		<h2 class="page-title">
			{% block pageTitle %}
			Page Title
			{% endblock pageTitle %}
		</h2>
		<small>
			{% block pageSubtitle %}
			Page SubTitle
			{% endblock pageSubtitle %} 
		</small>
	</div>
</div>

{% endblock navbar %}


{% block content %}
<h1>Content</h1>
{% endblock content%}