{% extends "common/base.html" %}{% load static %}
{% block title %}anillimaye{% endblock title %}
{% block navbar %}
<header class="site-header collapsed-nav" data-bg-image="">
	{% include 'common/common_nav.html' %}
</header>


<div class="hero">
	<ul class="slides">
		<li data-bg-image="{% static 'images/slider-1.jpg' %}">
			<div class="container">
				<div class="slide-content">
					<h2 class="slide-title">Anil Mukund Limaye</h2>
					<p>Biologist | Teacher | Art Hobbyist</p>
					{% comment %} <a href="#" class="button">See details</a> {% endcomment %}
				</div>
			</div>
		</li>
		<li data-bg-image="{% static 'images/slider-2.jpg' %}">
			<div class="container">
				<div class="slide-content">
					<h2 class="slide-title">Anil Mukund Limaye</h2>
					<p>Biologist | Teacher</p>
					{% comment %} <a href="#" class="button">See details</a> {% endcomment %}
				</div>
			</div>
		</li>
		<li data-bg-image="{% static 'images/slider-3.jpg' %}">
			<div class="container">
				<div class="slide-content">
					<h2 class="slide-title">Anil Mukund Limaye</h2>
					<p>Biologist | Teacher</p>
					{% comment %} <a href="#" class="button">See details</a> {% endcomment %}
				</div>
			</div>
		</li>
		{% comment %} <li data-bg-image="{% static 'images/slider-2.jpg' %}">
			<div class="container">
				<div class="slide-content">
					<h2 class="slide-title">LaboreLabore et dolore magna</h2>
					<p>Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi aliquip ex ea commodo
						consequat duis aute irure dolor in reprehenderit.</p>
					<a href="#" class="button">See details</a>
				</div>
			</div>
		</li>
		<li data-bg-image="{% static 'images/slider-3.jpg' %}">
			<div class="container">
				<div class="slide-content">
					<h2 class="slide-title">LaboreLabore et dolore magna</h2>
					<p>Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi aliquip ex ea commodo
						consequat duis aute irure dolor in reprehenderit.</p>
					<a href="#" class="button">See details</a>
				</div>
			</div>
		</li> {% endcomment %}
	</ul>
</div>
{% endblock navbar %}

{% block content %}
<h1>Content</h1>
{% endblock content%}