{% load static %}

<footer class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="widget">
					<h3 class="widget-title">Our address</h3>
					<strong>Department of Biosciences and Bioengineering,<br/>Indian Institute of Technology Guwahati</strong>
					<address>Guwahati - 781039, Assam, India</address>
					{% comment %} <a href="tel:+1 800 931 812">+1 800 931 812</a> <br> {% endcomment %}
					<a href="mailto:amul@iitg.ac.in">amul@iitg.ac.in</a>
					|
					<a href="mailto:amlinoffice@gmail.com">amlinoffice@gmail.com</a>
					|
					<a href="mailto:limaye.anil@gmail.com">limaye.anil@gmail.com</a>

				</div>
			</div>

			<div class="col-md-3">
				{% comment %} <div class="widget">
					<h3 class="widget-title">Press room</h3>
					<ul class="arrow-list">
						<li><a href="#">Accusantium doloremque</a></li>
						<li><a href="#">Laudantium totam aperiam</a></li>
						<li><a href="#">Eaque ipsa quae illo inventore</a></li>
						<li><a href="#">Veritatis et quasi architecto</a></li>
						<li><a href="#">Vitae dicta sunt explicabo</a></li>
					</ul>
				</div> {% endcomment %}
			</div>
			<div class="col-md-3">
				{% comment %} <div class="widget">
					<h3 class="widget-title">Research summary</h3>
					<ul class="arrow-list">
						<li><a href="#">Accusantium doloremque</a></li>
						<li><a href="#">Laudantium totam aperiam</a></li>
						<li><a href="#">Eaque ipsa quae illo inventore</a></li>
						<li><a href="#">Veritatis et quasi architecto</a></li>
						<li><a href="#">Vitae dicta sunt explicabo</a></li>
					</ul>
				</div> {% endcomment %}
			</div>
			<div class="col-md-3">
				{% comment %} <div class="widget">
					<h3 class="widget-title">Social media</h3>
					<p>Deserunt mollitia animi id est laborum dolorum fuga harum quidem rerum facilis.</p>
					<div class="social-links">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-google-plus"></i></a>
						<a href="#"><i class="fa fa-pinterest"></i></a>
					</div>
				</div> {% endcomment %}
			</div>
		</div> <!-- .row -->

		<p class="colophon">copyright 2019 - Anil Limaye. 
			<br/>
			Designed by <a href="http://www.vandelaydesign.com/"
				title="Designed by VandelayDesign.com" target="_blank">VandelayDesign.com</a>. All rights
			reserved
		</p>
	</div> <!-- .container -->
</footer>