{% extends "pages/base_nav_2.html" %}{% load static %}
{% block title %}Services{% endblock title %}
{% block pageTitle %}
About Us
{% endblock pageTitle %}
{% block pageSubtitle %}
Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit
consequuntur magni
{% endblock pageSubtitle %}
{% block content %}
<main class="main-content">
	<div class="fullwidth-block">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<h2 class="section-title">Why choose us?</h2>
					<ol class="circle">
						<li>
							<h3>Dignissimos ducimus blanditiis</h3>
							<p>Molestias excepturi sint occaecati cupiditate provident similique sunt culpa. omnis iste
								natus voluptatem.</p>
						</li>
						<li>
							<h3>Accusantium doloremque totam</h3>
							<p>Molestias excepturi sint occaecati cupiditate provident similique sunt culpa. omnis iste
								natus voluptatem.</p>
						</li>
						<li>
							<h3>Cusamus dignissimos ducimus</h3>
							<p>Molestias excepturi sint occaecati cupiditate provident similique sunt culpa. omnis iste
								natus voluptatem.</p>
						</li>
					</ol>
				</div>
				<div class="col-md-4">
					<h2 class="section-title">Usefull links</h2>
					<p>Nemo mollitia iste quis sed iure tempora dolore incidunt praesentium aspernatur! Praesentium
						impedit aperiam, commodi magnam accusamus nobis. Quia, velit sunt asperiores?</p>
					<ul class="arrow-list has-border">
						<li>Praesentium voluptatum deleniti atque dolores </li>
						<li>Corrupti quos et quas molestias excepturi</li>
						<li>Occaecati cupiditate non provident similique</li>
						<li>Nam libero tempore, cum soluta nobis eligendi</li>
						<li>Iditate non provident, similique sunt in culpa</li>
						<li>Officia deserunt mollitia animi distinctio laborum</li>
						<li>Dolorum fuga harum quidem rerum facilis</li>
					</ul>
				</div>
				<div class="col-md-4">
					<h2 class="section-title">Testimonials</h2>
					<ul class="testimonial-list">
						<li>
							<blockquote>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
									incididunt ut labore et dolore magna aliqua enim ad minim veniam, quis</p>
								<cite>Anthony Rubbens</cite>
							</blockquote>
						</li>
						<li>
							<blockquote>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
									incididunt ut labore et dolore magna aliqua enim ad minim veniam, quis</p>
								<cite>Anthony Rubbens</cite>
							</blockquote>
						</li>
						<li>
							<blockquote>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
									incididunt ut labore et dolore magna aliqua enim ad minim veniam, quis</p>
								<cite>Anthony Rubbens</cite>
							</blockquote>
						</li>
					</ul>
				</div>
			</div> <!-- .row -->
		</div> <!-- .container -->
	</div> <!-- .fullwidth-block -->

	<div class="fullwidth-block" data-bg-color="#edf2f4">
		<div class="container">
			<h2 class="section-title">Our team</h2>
			<div class="row">
				<div class="col-md-3">
					<div class="team">
						<img src="{% static 'images/person-1.jpg' %}" alt="" class="team-image">
						<h3 class="team-name">Howard Hanson</h3>
						<p>Praesentium deleniti atque corrupti quos dolores molestias excepturi.</p>
						<div class="social-links">
							<a href=""><i class="fa fa-facebook"></i></a>
							<a href=""><i class="fa fa-twitter"></i></a>
							<a href=""><i class="fa fa-google-plus"></i></a>
							<a href=""><i class="fa fa-pinterest"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="team">
						<img src="{% static 'images/person-2.jpg' %}" alt="" class="team-image">
						<h3 class="team-name">Jannet Smith</h3>
						<p>Praesentium deleniti atque corrupti quos dolores molestias excepturi.</p>
						<div class="social-links">
							<a href=""><i class="fa fa-facebook"></i></a>
							<a href=""><i class="fa fa-twitter"></i></a>
							<a href=""><i class="fa fa-google-plus"></i></a>
							<a href=""><i class="fa fa-pinterest"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="team">
						<img src="{% static 'images/person-3.jpg' %}" alt="" class="team-image">
						<h3 class="team-name">Paul Newman</h3>
						<p>Praesentium deleniti atque corrupti quos dolores molestias excepturi.</p>
						<div class="social-links">
							<a href=""><i class="fa fa-facebook"></i></a>
							<a href=""><i class="fa fa-twitter"></i></a>
							<a href=""><i class="fa fa-google-plus"></i></a>
							<a href=""><i class="fa fa-pinterest"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="team">
						<img src="{% static 'images/person-4.jpg' %}" alt="" class="team-image">
						<h3 class="team-name">Sarah Dowson</h3>
						<p>Praesentium deleniti atque corrupti quos dolores molestias excepturi.</p>
						<div class="social-links">
							<a href=""><i class="fa fa-facebook"></i></a>
							<a href=""><i class="fa fa-twitter"></i></a>
							<a href=""><i class="fa fa-google-plus"></i></a>
							<a href=""><i class="fa fa-pinterest"></i></a>
						</div>
					</div>
				</div>
			</div> <!-- .row -->
		</div> <!-- .container -->
	</div>

	<div class="fullwidth-block">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="checked-box">
						<h3>Numquam eius modi tempora incidunt ut labore</h3>
						<p>Voluptatem accusantium doloremque laudantium totam aperiam, eaque ipsa quae ab illo inventore
							veritatis quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem
							voluptas.</p>
					</div>

					<div class="checked-box">
						<h3>Numquam eius modi tempora incidunt ut labore</h3>
						<p>Voluptatem accusantium doloremque laudantium totam aperiam, eaque ipsa quae ab illo inventore
							veritatis quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem
							voluptas.</p>
					</div>

					<div class="checked-box">
						<h3>Numquam eius modi tempora incidunt ut labore</h3>
						<p>Voluptatem accusantium doloremque laudantium totam aperiam, eaque ipsa quae ab illo inventore
							veritatis quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem
							voluptas.</p>
					</div>
				</div>

				<div class="col-md-6">
					<div class="checked-box">
						<h3>Numquam eius modi tempora incidunt ut labore</h3>
						<p>Voluptatem accusantium doloremque laudantium totam aperiam, eaque ipsa quae ab illo inventore
							veritatis quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem
							voluptas.</p>
					</div>

					<div class="checked-box">
						<h3>Numquam eius modi tempora incidunt ut labore</h3>
						<p>Voluptatem accusantium doloremque laudantium totam aperiam, eaque ipsa quae ab illo inventore
							veritatis quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem
							voluptas.</p>
					</div>

					<div class="checked-box">
						<h3>Numquam eius modi tempora incidunt ut labore</h3>
						<p>Voluptatem accusantium doloremque laudantium totam aperiam, eaque ipsa quae ab illo inventore
							veritatis quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem
							voluptas.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% endblock content %}