{% load static %}

	<div class="fullwidth-block">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="checked-box">
						<h3>Numquam eius modi tempora incidunt ut labore</h3>
						<p>Voluptatem accusantium doloremque laudantium totam aperiam, eaque ipsa quae ab illo inventore
							veritatis quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem
							voluptas.</p>
					</div>

					<div class="checked-box">
						<h3>Numquam eius modi tempora incidunt ut labore</h3>
						<p>Voluptatem accusantium doloremque laudantium totam aperiam, eaque ipsa quae ab illo inventore
							veritatis quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem
							voluptas.</p>
					</div>

					<div class="checked-box">
						<h3>Numquam eius modi tempora incidunt ut labore</h3>
						<p>Voluptatem accusantium doloremque laudantium totam aperiam, eaque ipsa quae ab illo inventore
							veritatis quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem
							voluptas.</p>
					</div>
				</div>

				<div class="col-md-6">
					<div class="checked-box">
						<h3>Numquam eius modi tempora incidunt ut labore</h3>
						<p>Voluptatem accusantium doloremque laudantium totam aperiam, eaque ipsa quae ab illo inventore
							veritatis quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem
							voluptas.</p>
					</div>

					<div class="checked-box">
						<h3>Numquam eius modi tempora incidunt ut labore</h3>
						<p>Voluptatem accusantium doloremque laudantium totam aperiam, eaque ipsa quae ab illo inventore
							veritatis quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem
							voluptas.</p>
					</div>

					<div class="checked-box">
						<h3>Numquam eius modi tempora incidunt ut labore</h3>
						<p>Voluptatem accusantium doloremque laudantium totam aperiam, eaque ipsa quae ab illo inventore
							veritatis quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem
							voluptas.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

