{% load static %}
<div class="fullwidth-block" data-bg-color="#edf2f4">
	<div class="container">
		<h2 class="section-title">Our team</h2>
		<div class="row">
			<div class="col-md-3">
				<div class="team">
					<img src="{% static 'images/person-1.jpg' %}" alt="" class="team-image">
					<h3 class="team-name">Howard Hanson</h3>
					<p>Praesentium deleniti atque corrupti quos dolores molestias excepturi.</p>
					<div class="social-links">
						<a href=""><i class="fa fa-facebook"></i></a>
						<a href=""><i class="fa fa-twitter"></i></a>
						<a href=""><i class="fa fa-google-plus"></i></a>
						<a href=""><i class="fa fa-pinterest"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="team">
					<img src="{% static 'images/person-2.jpg' %}" alt="" class="team-image">
					<h3 class="team-name">Jannet Smith</h3>
					<p>Praesentium deleniti atque corrupti quos dolores molestias excepturi.</p>
					<div class="social-links">
						<a href=""><i class="fa fa-facebook"></i></a>
						<a href=""><i class="fa fa-twitter"></i></a>
						<a href=""><i class="fa fa-google-plus"></i></a>
						<a href=""><i class="fa fa-pinterest"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="team">
					<img src="{% static 'images/person-3.jpg' %}" alt="" class="team-image">
					<h3 class="team-name">Paul Newman</h3>
					<p>Praesentium deleniti atque corrupti quos dolores molestias excepturi.</p>
					<div class="social-links">
						<a href=""><i class="fa fa-facebook"></i></a>
						<a href=""><i class="fa fa-twitter"></i></a>
						<a href=""><i class="fa fa-google-plus"></i></a>
						<a href=""><i class="fa fa-pinterest"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="team">
					<img src="{% static 'images/person-4.jpg' %}" alt="" class="team-image">
					<h3 class="team-name">Sarah Dowson</h3>
					<p>Praesentium deleniti atque corrupti quos dolores molestias excepturi.</p>
					<div class="social-links">
						<a href=""><i class="fa fa-facebook"></i></a>
						<a href=""><i class="fa fa-twitter"></i></a>
						<a href=""><i class="fa fa-google-plus"></i></a>
						<a href=""><i class="fa fa-pinterest"></i></a>
					</div>
				</div>
			</div>
		</div> <!-- .row -->
	</div> <!-- .container -->
</div>