{% extends "base.html" %}{% load static %}
{% block navbar %}
<header class="site-header" data-bg-image="">
	<div class="container">
		<div class="header-bar">
			<a href="{% url 'home' %}" class="branding">
				<img src="{% static 'images/logo.png' %}" alt="" class="logo">
				<div class="logo-type">
					<h1 class="site-title">Company name</h1>
					<small class="site-description">Tagline goes here</small>
				</div>
			</a>

			<nav class="main-navigation">
				<button class="menu-toggle"><i class="fa fa-bars"></i></button>
				<ul class="menu">
					<li class="home menu-item"><a href="{% url 'home' %}"><img src="{% static 'images/home-icon.png' %}"
								alt="Home"></a></li>
					<li class="menu-item"><a href="{% url 'about' %}">About</a></li>
					<li class="menu-item"><a href="{% url 'services' %}">Services</a></li>
					<li class="menu-item"><a href="{% url 'projects' %}">Our projects</a></li>
					<li class="menu-item current-menu-item"><a href="{% url 'contact' %}">Contact</a></li>
				</ul>
			</nav>

			<div class="mobile-navigation"></div>
		</div>
	</div>
</header>
<div class="page-head" data-bg-image="{% static 'images/page-head-4.jpg' %}">
	<div class="container">
		<h2 class="page-title">
			{% block pageTitle %}
			Page Title
			{% endblock pageTitle %}
		</h2>
		<small>
			{% block pageSubtitle %}
			Page SubTitle
			{% endblock pageSubtitle %} 
		</small>
	</div>
</div>

{% endblock navbar %}


{% block content %}
<h1>Content</h1>
{% endblock content%}