{% extends "pages/base_nav_2.html" %}{% load static %}
{% block title %}Contact Us{% endblock title %}
{% block pageTitle %}
Contact Us
{% endblock pageTitle %}
{% block pageSubtitle %}
Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit
consequuntur magni
{% endblock pageSubtitle %}
{% block content %}



<main class="main-content">

	<div class="fullwidth-block">
		<div class="container">
			<div class="map" data-latitude="-6.897789" data-longitude="107.621735"></div>

			<div class="row">
				<div class="col-md-4">
					<div class="boxed-content">
						<h2 class="section-title">Address</h2>
						<address>
							<p>Company Name INC.</p>
							<p>423 Avenue Street, Chicago, IL 60610</p>
						</address>
					</div>
				</div>
				<div class="col-md-4">
					<div class="boxed-content">
						<h2 class="section-title">Telephone</h2>
						<p><strong>Office:</strong> +1 800 321 431</p>
						<p><strong>Support:</strong> +1 800 903 412</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="boxed-content">
						<h2 class="section-title">Email</h2>
						<p><strong>Office:</strong> <a href="mailto:office@companyname.com">office@companyname.com</a>
						</p>
						<p><strong>Support:</strong> <a
								href="mailto:support@companyname.com">support@companyname.com</a></p>
					</div>
				</div>
			</div>

			<div class="row contact-form">
				<form action="#">
					<div class="col-md-4">
						<p><input type="text" placeholder="Your name..."></p>
						<p><input type="text" placeholder="Email..."></p>
						<p><input type="text" placeholder="Website..."></p>
					</div>
					<div class="col-md-8">
						<p>
							<textarea name="" placeholder="Message"></textarea>
						</p>
						<p class="text-right">
							<input type="submit" value="Send message">
						</p>
					</div>
				</form>
			</div>
		</div>
	</div>

	{% endblock content %}