{% load static %}

	<div class="fullwidth-block">
		<div class="container">
			{% comment %} <div class="map" data-latitude="-6.897789" data-longitude="107.621735"></div> {% endcomment %}

			<div class="row">
				<div class="col-md-4">
					<div class="boxed-content">
						<h2 class="section-title">Address</h2>
						<address>
							<p>
								Department of BSBE, IIT-Guwahati
							</p>
							<p>Guwahati - 781039, Assam, India</p>
						</address>
					</div>
				</div>
				<div class="col-md-4">
					<div class="boxed-content">
						<h2 class="section-title">Telephone</h2>
						<p><strong>Office: </strong>+91-0361-2582218</p>
						<p><strong>Support: </strong>+91-9957569787</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="boxed-content">
						<h2 class="section-title">Email</h2>
						<p><strong>Office:</strong> <a href="mailto:amul@iitg.ac.in">amul@iitg.ac.in</a>
						</p>
						<p><strong>Support:</strong> <a href="mailto:amlinoffice@gmail.com">amlinoffice@gmail.com</a></p>
					</div>
				</div>
			</div>

			<div class="row contact-form">
				<form action="#">
					<div class="col-md-4">
						<p><input type="text" placeholder="Your name..."></p>
						<p><input type="text" placeholder="Email..."></p>
						<p><input type="text" placeholder="Website..."></p>
					</div>
					<div class="col-md-8">
						<p>
							<textarea name="" placeholder="Message"></textarea>
						</p>
						<p class="text-right">
							<input type="submit" value="Send message">
						</p>
					</div>
				</form>
			</div>
		</div>
	</div>

